<mat-accordion>
  <mat-expansion-panel [expanded]="'true'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Productos Agregados
      </mat-panel-title>
      <mat-panel-description>
        Tienes {{selectedData.length}} productos seleccionados.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider style="padding-top: 5px !important; padding-bottom: 5px !important;"></mat-divider>
    <div *ngFor="let product of selectedData">
      <div class="row">
        <div class="col-10">
          <p>
            {{product.channel}} - {{product.name}}
          </p>
        </div>
        <div class="col-2">
          <mat-icon>add_circle_outline</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-divider style="padding-top: 5px !important; padding-bottom: 5px !important;"></mat-divider>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>