<div class="container">
  <div class="card card-container">
      <img class="img-fluid" src="././assets/images/logoLargo.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="password" id="inputPassword" class="form-control" placeholder="Nueva Contraseña" required autofocus>
          <input type="password" id="inputPasswordRepeat" class="form-control" placeholder="Repetir Contraseña" required>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Cambiar</button>
      </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->
