<div class="row justify-content-center">
  <div class="col-11" style="padding-bottom: 15px;">
    <h5>Comparador</h5>
    <mat-divider></mat-divider>
  </div>
</div>

<div *ngIf="loading" style="margin-top: 50px;" class="row justify-content-center">
  <div class="col-12 col-sm-4 col-md-3 text-center">
    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate" color="primary"></mat-progress-spinner>
    <br>
  </div>
</div>

<div>
  <div class="row justify-content-center">
    <div class="col-11">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
      </mat-form-field>
    </div>
    <div class="col-11" #TABLE> 
      <table style="width: 100% !important;" mat-table matSort [dataSource]="data" class="mat-elevation-z1">
        <ng-container *ngFor="let column of displayedColumns"  [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | slice:0:10}} </th>
          <span *ngIf="column === 'Nombre'">
            <td mat-cell *matCellDef="let product"> {{product[column] | slice:0:30}} </td>
          </span>
          <span *ngIf="column !== 'Nombre' && column !== 'UPC'">
            <td  mat-cell *matCellDef="let product">
              <span>{{product[column] | currency}}
                <span *ngIf="column !== user.channel_name">- {{getDifference(product, product[column]) | percent}}</span>
              </span>
            </td>
          </span> 
          <span *ngIf="column === 'UPC'">
            <td mat-cell *matCellDef="let product"> {{product[column]}} </td>
          </span>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-11">
      <mat-paginator [pageSize]="20"></mat-paginator>
    </div>
    <div class="col-11" style="margin-top: 15px">
      <div class="row justify-content-end">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <button class="btn btn-block" mat-raised-button color="primary" (click)="exportAsExcel()">Descargar como XLS</button>
        </div>
      </div>
    </div>
  </div>
</div>