<div class="container">
  <div class="card card-container">
      <img class="img-fluid" src="././assets/images/logoLargo.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email" id="inputEmail" class="form-control" placeholder="Correo" required autofocus>
          <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
          <!-- <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div> -->
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Iniciar Sesión</button>
      </form><!-- /form -->
      <a  [routerLink]="['/screen/recoverPassword']" class="forgot-password">
          Olvide mi Contraseña
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->
