<div class="row justify-content-center">
  <div class="col-11" style="padding-bottom: 15px;">
    <h5>Dashboard</h5>
    <mat-divider></mat-divider>
  </div>
  <div class="col-11">
    <div class="row justify-content-sm-end justify-content-center">
      <div class="col-12 col-sm-4 col-md-3">
        <button (click)="getSelectedData()" [disabled]="!buttonStatus" class="btn btn-block" mat-raised-button color="primary">
          <mat-icon> add_circle_outline </mat-icon> Agregar</button>
      </div>
    </div>
    <br>
    <app-data-select (dateChanged)="onDateChanged()" [startDate]="startDate" (productsSelected)="switchButton($event)"></app-data-select>
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-11 col-sm-6">
    <div *ngIf="chartLoading" style="margin-top: 50px;" class="row justify-content-center">
      <div class="col-12 col-sm-4 col-md-3 text-center">
        <mat-progress-spinner style="margin:0 auto;" mode="indeterminate" color="primary"></mat-progress-spinner>
        <br>
        <!-- <h5>Cargando...</h5> -->
      </div>
    </div>
    <div *ngIf="!chartLoading">

    </div>
  </div>
  <div class="col-11 col-sm-5">
    <div *ngIf="selectedData.length">
      <app-products-list [selectedData]="selectedData"></app-products-list>
    </div>
  </div>
</div>