<form>
  <div class="card">
    <div class="card-header">
      Nueva Busqueda
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="lineChannel">Canal</label>
            <select class="form-control" (change)="line.deleteBrand()" [(ngModel)]="line.channel" name="channel" required>
              <option [ngValue]="null"></option>
              <option [ngValue]="option" *ngFor="let option of channels">{{option.name}}</option>
            </select>
          </div>
        </div>
        <div class="col" *ngIf="line.channel">
          <div class="form-group form-sm">
            <label for="lineBrand">Marca</label>
            <select class="form-control" (change)="line.deleteCategory()" [(ngModel)]="line.brand" name="brand">
              <option [ngValue]="null"></option>
              <option [ngValue]="option" *ngFor="let option of line.channel.brands">{{option.name}}</option>
            </select>
          </div>
        </div>
        <div class="col" *ngIf="line.brand">
          <div class="form-group">
            <label for="lineCategory">Categoria</label>
            <select class="form-control" (change)="line.deleteProduct()" [(ngModel)]="line.category" name="category">
              <option [ngValue]="null"></option>
              <option [ngValue]="option" *ngFor="let option of line.brand.categories">{{option.name}}</option>
            </select>
          </div>
        </div>
        <div class="col" *ngIf="line.category">
          <div class="form-group">
            <label for="lineProduct">Producto</label>
            <select class="form-control" [(ngModel)]="line.product" name="producto">
              <option [ngValue]="null"></option>
              <option [ngValue]="option" *ngFor="let option of line.category.products">{{option.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row justify-content-end">
        <div class="col-md-3 col-sm-12">
          <button class="btn btn-block btn-primary btn-sm" (click)="addLine()">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</form>

<app-graph></app-graph>
