<div class="row">
  <div class="col-md-12">
    <form>
      <div class="card">
        <div class="card-header">
          <i class="mdi mdi-file-find"></i> Nueva Busqueda
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="lineChannel">Canal</label>
                <select class="form-control" (change)="getCategories(); " [(ngModel)]="line.channel" name="channel" required>
                  <option [ngValue]="null"></option>
                  <option [ngValue]="option" *ngFor="let option of channels">{{option.name}}</option>
                </select>
              </div>
            </div>
            <div class="col" *ngIf="line.channel">
              <div class="form-group">
                <label for="lineCategory">Categoria</label>
                <select class="form-control" (change)="getBrands();" [(ngModel)]="line.category" name="category">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="option" *ngFor="let option of line.channel.sub_elements">{{option.name}}</option>
                </select>
              </div>
            </div>
            <div class="col" *ngIf="line.category">
              <div class="form-group form-sm">
                <label for="lineBrand">Marca</label>
                <select class="form-control" (change)="getProducts();" [(ngModel)]="line.brand" name="brand">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="option" *ngFor="let option of line.category.sub_elements">{{option.name}}</option>
                </select>
              </div>
            </div>
            <div class="col" *ngIf="line.brand">
              <div class="form-group">
                <label for="lineProduct">Producto</label>
                <select class="form-control" [(ngModel)]="line.product" name="producto">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="option" *ngFor="let option of line.brand.sub_elements">{{option.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row justify-content-end">
            <div class="col-md-3 col-sm-12">
              <button [disabled]="!line.channel" class="btn btn-block btn-primary btn-sm" (click)="addLine()">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="mdi mdi-format-list-bulleted-type"></i> Busquedas
      </div>
      <div class="card-body">
        <div class="row" *ngIf="!lines.length">
          <div class="col-md-12">
            <label>No has realizado ninguna consulta</label>
          </div>
        </div>
        <div class="row" *ngFor="let line of lines">
          <div class="col">
            <div class="card">
              <div class="col" [ngStyle]="{'color': line.color}">
                <p><i class="mdi mdi-music-note-whole"></i> {{line.channel.name}} <span *ngIf="line.brand"><i class="mdi mdi-arrow-right-bold">
                </i> {{line.brand.name}}</span><span *ngIf="line.category"> <i class="mdi mdi-arrow-right-bold"></i> {{line.category.name}}</span><span *ngIf="line.product">
                  <i class="mdi mdi-arrow-right-bold"></i> {{line.product.name}}</span><a (click)="removeLine(line)" style="cursor: pointer !important;" class="pull-right"><i style="color:rgb(241, 96, 96)" class="mdi mdi-delete-forever"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="data && data.length">
  <div class="col-md-12">
    <app-graph [lines]="lines" [data]="chartData"></app-graph>
  </div>
</div>

<div class="row">
  <div class="col-6 col-sm-3 col-md-2" *ngFor="let line of lines">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{line.name}}</h4>
        <div class="row" *ngIf="getScope(line) < 0" style="color:red">
          <div class="col-4 text-right">
            <i class="fas fa-angle-double-down fa-2x"> </i>
          </div>
          <div class="col-8 text-left">
            <h4 class="card-text">% {{getScope(line) | number : '1.2-2'}}</h4>
          </div>
        </div>
        <div class="row" *ngIf="getScope(line) >= 0" style="color:green">
          <div class="col-4 text-right">
            <i class="fas fa-angle-double-up fa-2x"> </i>
          </div>
          <div class="col-8 text-left">
            <h4 class="card-text">% {{getScope(line) | number : '1.2-2'}}</h4>
          </div>
        </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>
